<div class='flex flex-col w-full'>
<section id='profile-section' class="bg-gray-800 w-3/4 mx-auto rounded-md p-8 shadow-md my-8 flex flex-col">
  <div>
    <h2 class="text-xl font-bold text-center text-sky-400 mb-6">
      <%= t('actions.user.edit_profile')%>
    </h2>

    <div class='flex'>
      <div class="w-2/5 mx-auto flex flex-col items-center text-center">
      <div class="relative w-fit mx-auto">
        <% if @user.profile_picture.attached? %>
          <%= image_tag @user.profile_picture.variant(resize_to_fill: [170, 170]),
              id: "profile-preview",
              class: "rounded-full shadow w-[170px] h-[170px] object-cover aspect-square" %>
        <% else %>
          <%= image_tag "profile_generic.png",
              id: "profile-preview",
              class: "rounded-full shadow w-[170px] h-[170px] object-cover aspect-square" %>
        <% end %>

        <button type="button"
          id="camera-button"
          class="absolute bottom-2 right-2 bg-sky-500 text-white p-4 rounded-full hover:bg-sky-600 shadow-lg transition flex items-center justify-center w-9 h-9">
          <i class="fa-solid fa-camera text-md"></i>
        </button>
      </div>

      <%= form_with(model: @user, url: profile_path, method: :patch, html: { multipart: true }, class: "flex flex-col items-center mt-4") do |f| %>
        <%= hidden_field_tag :update_type, "profile" %>
        <%= f.file_field :profile_picture,
            direct_upload: true,
            class: "hidden",
            id: "profile_picture_input",
            accept: "image/*" %>

        <%= f.submit t('actions.user.update_profile_picture'),
            class: "px-4 py-2 bg-sky-500 text-white rounded hover:bg-sky-600 transition" %>
      <% end %>
    </div>


      <div class='w-3/5'>
        <%= form_with(model: @user, url: profile_path, method: :patch) do |f| %>
          <%= hidden_field_tag :update_type, "profile" %>

          <div class="flex flex-col mb-4">
            <%= f.label :name, User.human_attribute_name(:name), class: "text-gray-200 font-medium mb-1" %>
            <%= f.text_field :name,
              class: "p-3 rounded-md bg-gray-700 text-white focus:outline-none focus:ring-2 focus:ring-sky-400" %>
            <% if f.object.errors[:name].any? %>
                <p class="text-sm text-red-500 mt-1"><%= f.object.errors.full_messages_for(:name).join(', ') %></p>
            <% end %>
          </div>

          <div class="flex flex-col mb-4">
            <%= f.label :email, User.human_attribute_name(:email), class: "text-gray-200 font-medium mb-1" %>
            <%= f.email_field :email,
              class: "p-3 rounded-md bg-gray-700 text-white focus:outline-none focus:ring-2 focus:ring-sky-400" %>
            <% if f.object.errors[:email].any? %>
                <p class="text-sm text-red-500 mt-1"><%= f.object.errors.full_messages_for(:email).join(', ') %></p>
            <% end %>
          </div>

          <div class="flex justify-center">
            <%= f.submit t('actions.user.edit_profile'),
              class: "w-full bg-sky-500 hover:bg-sky-600 text-white font-bold py-3 px-6 rounded-md transition-transform transform hover:-translate-y-0.5 hover:shadow-lg duration-200" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="mt-5">
    <h2 class="text-xl font-bold text-center text-sky-400 mb-2">
      <%= t('actions.user.update_password') %>
    </h2>
    <%= form_with(model: @user, url: profile_path, method: :patch) do |f| %>
      <%= hidden_field_tag :update_type, "password" %>
      <div class="flex flex-cols col-span-3 gap-x-2">
        <div class="flex flex-col mb-4 w-full">
          <%= f.label :current_password, User.human_attribute_name(:current_password), class: "text-gray-200 font-medium mb-1" %>
          <%= f.password_field :current_password,
            class: "p-3 rounded-md bg-gray-700 text-white focus:outline-none focus:ring-2 focus:ring-sky-400" %>
          <% if f.object.errors[:current_password].any? %>
              <p class="text-sm text-red-500 mt-1"><%= f.object.errors.full_messages_for(:current_password).join(', ') %></p>
          <% end %>
        </div>

        <div class="flex flex-col mb-4 w-full">
          <%= f.label :password, User.human_attribute_name(:new_password), class: "text-gray-200 font-medium mb-1" %>
          <%= f.password_field :password,
            class: "p-3 rounded-md bg-gray-700 text-white focus:outline-none focus:ring-2 focus:ring-sky-400" %>
          <% if f.object.errors[:password].any? %>
              <p class="text-sm text-red-500 mt-1"><%= f.object.errors.full_messages_for(:password).join(', ') %></p>
          <% end %>
        </div>

        <div class="flex flex-col mb-4 w-full">
          <%= f.label :password_confirmation, User.human_attribute_name(:password_confirmation), class: "text-gray-200 font-medium mb-1" %>
          <%= f.password_field :password_confirmation,
            class: "p-3 rounded-md bg-gray-700 text-white focus:outline-none focus:ring-2 focus:ring-sky-400" %>
          <% if f.object.errors[:password_confirmation].any? %>
              <p class="text-sm text-red-500 mt-1"><%= f.object.errors.full_messages_for(:password_confirmation).join(', ') %></p>
          <% end %>
        </div>
      </div>

      <div class="flex justify-center">
        <%= f.submit t('actions.user.update_password'),
          class: "bg-sky-500 hover:bg-sky-600 text-white font-bold py-3 px-6 rounded-md transition-transform transform hover:-translate-y-0.5 hover:shadow-lg duration-200" %>
      </div>
    <% end %>
  </div>
</section>

<section id='movies-section' class="bg-gray-800 w-3/4 mx-auto rounded-md p-8 shadow-md mb-8">
  <h2 class="text-2xl font-bold text-center text-sky-400 mb-4">
    <%= User.human_attribute_name(:my_movies) %>
  </h2>
  <% if @movies.any? %>
      <turbo-frame id="movies" class="w-full">
        <div id="movies-grid" class="grid grid-cols-2 gap-x-3 gap-y-5">
            <% @movies.each do |movie| %>
                <%= link_to movie, data: { turbo_frame: "_top" } do %>
                  <div class="flex bg-gray-600 text-white rounded-lg shadow-lg overflow-hidden w-full max-w-3xl h-48 transition-all hover:scale-103 cursor-pointer">
                      <% if movie.poster.attached? %>
                          <%= image_tag movie.poster.variant(resize_to_fill: [150, 192]), 
                              alt: movie.title, class: "w-40 h-full object-cover" %>
                      <% else %>
                          <%= image_tag 'movie_generic.jpg', class: 'w-40 h-full object-cover' %>
                      <% end %>
                      <div class="p-4 flex flex-col flex-1">
                          <p class="font-bold"><%= movie.title %></p>
                          <p>(<%= movie.release_year %>)</p>
                          <div class="flex justify-end gap-2 mt-4">
                            <%= button_to t('actions.update'), root_path,
                                  class:'bg-sky-500 hover:bg-sky-600 text-white text-sm font-bold py-1 px-4 rounded-md transition-transform transform hover:-translate-y-0.5 hover:shadow-lg duration-200' %>

                            <%= button_to t('actions.delete'), root_path,
                                  class:'bg-red-500 hover:bg-red-600 text-white text-sm font-bold py-1 px-4 rounded-md transition-transform transform hover:-translate-y-0.5 hover:shadow-lg duration-200' %>
                          </div>
                      </div>
                  </div>
                <% end %>
            <% end %>
        </div>

        <div class="flex justify-center mt-6">
            <%== pagy_nav(@pagy) if @pagy.pages > 1%>
        </div>
    </turbo-frame>
  <% else %>
      <p class="w-full text-center text-white bg-[#1E2939] py-4 rounded-lg mt-6 font-medium">
          <%= t('actions.movie.no_movies') %>
      </p>
  <% end %>
</section> 
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const fileInput = document.getElementById("profile_picture_input");
    const previewImg = document.getElementById("profile-preview");
    const cameraButton = document.getElementById("camera-button");

    // Quando clicar no botão, aciona o input
    cameraButton.addEventListener("click", () => {
      fileInput.click();
    });

    // Quando escolher uma imagem, mostra o preview
    fileInput.addEventListener("change", (event) => {
      const file = event.target.files[0];
      if (file) {
        const reader = new FileReader();
        reader.onload = (e) => {
          previewImg.src = e.target.result;
        };
        reader.readAsDataURL(file);
      }
    });
  });
</script>
