<% if @movies.any? %>
    <turbo-frame id="movies" class="w-full">
        <div id="movies-grid" class="grid grid-cols-3 gap-x-3 gap-y-5">
            <% @movies.each do |movie| %>
                <%= link_to movie do %>
                <div class="flex bg-gray-800 text-white rounded-lg shadow-lg overflow-hidden w-full max-w-3xl h-48 transition-all hover:scale-103 cursor-pointer">
                    <% if movie.poster.attached? %>
                        <%= image_tag movie.poster.variant(resize_to_fill: [150, 192]), 
                            alt: movie.title, class: "w-40 h-full object-cover" %>
                    <% else %>
                        <%= image_tag 'movie_generic.jpg', class: 'w-40 h-full object-cover' %>
                    <% end %>
                    <div class="p-4 flex flex-col flex-1">
                        <p class="font-bold"><%= movie.title %></p>
                        <p>(<%= movie.release_year %>)</p>
                    </div>
                </div>
                <% end %>
            <% end %>
        </div>

        <div class="flex justify-center mt-6">
            <%== pagy_nav(@pagy) if @pagy.pages > 1%>
        </div>
    </turbo-frame>
<% else %>
    <p class="w-full text-center text-white bg-[#1E2939] py-4 rounded-lg mt-6 font-medium">
        Nenhum filme encontrado.
    </p>
<% end %>
