<!DOCTYPE html>
<html>
  <head>
    <title>Cinehub</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" %>
    <%= javascript_include_tag "https://unpkg.com/lucide@latest" %>

    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-500 flex flex-col h-screen">
    <nav class="mt-4 py-5 bg-gray-800 flex">
      <div class="w-3/4 mx-auto flex justify-between">
        <%= link_to 'CineHub', root_path, class: "my-auto text-2xl sm:text-3xl md:text-4xl text-sky-400 font-bold"%>
        <div class="flex flex-col sm:flex-row">
          <% if user_signed_in? %>
            <div class="flex items-center gap-3 sm:mr-2 mb-2 sm:mb-0">
              <%= link_to profile_path, class: 'transition hover:scale-108 flex items-center gap-2 mr-2' do %>
                <% if current_user.profile_picture.attached? %>
                  <%= image_tag current_user.profile_picture.variant(resize_to_fill: [40, 40]),
                      class: "rounded-full w-10 h-10 object-cover border-2" %>
                <% else %>
                  <%= image_tag "profile_generic.png",
                      class: "rounded-full w-10 h-10 object-cover border-2" %>
                <% end %>

                <span class="text-gray-200 font-medium text-lg">
                  <%= current_user.name || current_user.email.split('@').first.capitalize %>
                </span>
              <% end %>
              <%= button_to t('actions.logout'),
                  destroy_user_session_path,
                  method: :delete, data: { turbo: false },
                  class: "text-white bg-gray-700 px-4 py-2 rounded-md transition-transform transform hover:scale-108 font-semibold" %>
            </div>
          <% else %>
            <%= link_to t('actions.login'), new_user_session_path,
            class: 'text-sky-400 bg-gray-700 px-6 py-2 rounded-md sm:mr-3 transition-all mb-2 sm:mb-0 mx-auto hover:scale-107 font-medium text-xl'%>
          <% end %>
          <div data-controller="locale" class="relative inline-block text-left my-auto">
            <button data-action="click->locale#toggle"
                    data-locale-target="button"
                    class="inline-flex justify-center w-full rounded-md bg-gray-700 px-4 py-2 text-sm font-medium text-gray-200 hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-sky-400">
              <%= I18n.locale == :'pt-BR' ? "🇧🇷 Português" : "🇺🇸 English" %>
              <i class="fa-solid fa-chevron-down ml-2"></i>
            </button>

            <div data-locale-target="dropdown" class="hidden absolute right-0 mt-2 bg-gray-800 rounded-md shadow-lg z-50">
              <a href="#" data-action="click->locale#select" data-locale="pt-BR"
                class="block px-4 py-2 text-sm text-gray-200 hover:bg-gray-700">
                🇧🇷 Português
              </a>
              <a href="#" data-action="click->locale#select" data-locale="en"
                class="block px-4 py-2 text-sm text-gray-200 hover:bg-gray-700">
                🇺🇸 English
              </a>
            </div>
          </div>
        </div>
        
      </div>
    </nav>
    <% if notice %>
      <div class="w-3/4 mx-auto mt-4">
        <div class="bg-[#1E2939] border-l-4 border-sky-400 text-gray-200 p-4 rounded-2xl shadow-md flex justify-between items-center">
          <span><i class="fa-solid fa-circle-info text-sky-400 mr-2"></i><%= notice %></span>
          <button class="text-gray-400 hover:text-sky-400" onclick="this.parentElement.parentElement.remove()">
            <i class="fa-solid fa-xmark"></i>
          </button>
        </div>
      </div>
    <% elsif alert %>
      <div class="w-3/4 mx-auto mt-4">
        <div class="bg-[#1E2939] border-l-4 border-red-500 text-gray-200 p-4 rounded-2xl shadow-md flex justify-between items-center">
          <span><i class="fa-solid fa-triangle-exclamation text-red-500 mr-2"></i><%= alert %></span>
          <button class="text-gray-400 hover:text-red-500" onclick="this.parentElement.parentElement.remove()">
            <i class="fa-solid fa-xmark"></i>
          </button>
        </div>
      </div>
    <% end %>
    
    <main class="container mx-auto w-3/4 flex">
      <%= yield %>
    </main>
  </body>
</html>
